{% extends "profile.twig" %}
{% block content %}
<h1>Index</h1>
<p class="important">
    Welcome on my awesome homepage.
</p>
<p class="important">
    <h1>Estamos {{data.a}}</h1>
</p>
{% for user in data %}
<li>{{ user }}</li>
{% endfor %}

{% endblock %}