{% extends "layaut.twig" %}
{% block header %}
<title>Es la portada</title>
{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center"> Esto es el meuno de portada</h2>
</div>
{% endblock %}