{% extends "layaut.twig" %}
{% block header %}
<title>Subir imagenes</title>
{% endblock %}
{% block content %}
{% if data %}
<div class="alert alert-success" role="alert">
    {{data}}
</div>
{% endif %}
<div class="jumbotron container">

    <form method="post" enctype="multipart/form-data">

        <div class="form-group">
            <label for="example1">Subir imagen </label>
            <input type="file" class="form-control" id="example1" name="example1" placeholder="Enter email">
        </div>

        <button type="submit" class="btn btn-primary">Subir</button>

    </form>

</div>
<div class="container">
    {% for imagen in imagenes %}
    <img width="150px" src="{{ imagen }}" alt="">
    {% endfor %}
</div>

{% endblock %}