{% extends "layaut.twig" %}
{% block header %}
<title>Es un texto</title>
{% endblock %}
{% block content %}
<div class="container">
    <h2 class="text-center"> Esto es un texto</h2>
    <p> hola {{ data }}</p>
</div>
{% endblock %}